*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}

.center-text{
    text-align: center;
}

button{
    padding: 0.6em 1.2em;
    border: none;
    border-radius:1em;
    font-size: 1.3em;
    cursor: pointer;
}

.white{
    color:rgb(0, 0, 0);
    background-color: white;
}

.black{
        background-color: black;
        color: white;
}

.violet{
        background-color: rgb(142, 161, 226);
        color: white;
        font-size: 1.4em;
        font-weight: 600;
}

/* -------------------------------CLASSI BOX--------------------------- */

.flexbox{
    display:flex;
}

.boxed{
    display: flex;
    flex:0.7;
    margin: 50px auto;
    flex-wrap: wrap;
}

.wave {
    height:100px;
    weight:100%;
    -webkit-mask-image: url(../img/wave.svg);
     mask-image: url(../img/wave.svg);
    background-color: rgb(246, 246, 246);
}

.flip{
  transform: scaleY(-1);
}

/* ---------------------------------HEADER--------------------------------- */

header{
    background-color: rgb(42, 94, 232);
    padding-bottom:2px;
}

    #nav{
        flex-wrap: nowrap;
    }

    #nav div{
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    #logo{
        flex:1;
        justify-content: flex-start;
    }

    #menu{
        flex:3;
        justify-content:center;
        gap: 4em;
    } 

        #menu a{
            font-weight: bold;
            font-size: 1.5em;
        }

    #login{
        flex:1;
        justify-content: flex-end;
    }

#blocco_1{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
    #main_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        /* centra piu piccolo */
        flex:0.8;
        margin: 20px auto;
    }
    h1{
        font-size: 5em;
        font-weight: bold;
        color: white;
        padding-bottom: 20px;
    }
    h1+p{
        font-size: 2em;
        color: white;
        line-height: 1.5em;
    }
     span{
        display: flex;
        gap: 2em;
    }
    span button{
        font-size: 2em;
    }
   

/* ----------------------------MAIN---------------------------- */


#blocco_3, #blocco_5{
    background-color: rgb(246, 246, 246);
}

    .image{
        flex:2;
        display: flex;
        align-items: center;
    }

        .image img{
        min-width: 100%;
        }

    .testo{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:2em;
        padding: 1em;
    }

     .centered{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

        h2{
            font-size: 4em;
        }
        h2+p{
            font-size: 2em;
            line-height: 1.5em;
        }
    
        h3{
            font-size: 3em;
            font-weight:800;
            background-image: url(../img/stars.svg);
            background-size:contain;
            background-repeat: no-repeat;
            padding: 30px 50px 0 50px;
        }
 


/* -----------------------------FOOTER------------------------------ */

footer{
    background-color: rgb(35, 35, 35);
}

#blocco_6{
    border-bottom: 1px solid grey;
}
    
#footer_colonne > div{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 10px;
}

#footer_colonne div:first-child{
    flex:1.5;
    padding-top: 0px;
}


   
/* contenuto prima colonna  */

    #language{
        background: none;
        border: none;
        background-image: url(../img/ita.png);
        background-size: 20px;
        background-repeat: no-repeat;
        object-fit: contain;
        padding-left: 25px;
        color: white;
    }

    option{
        background: transparent;
        border: none;
    }

    h4{
        font-size: 3em;
    }

    .social-networks li{
        list-style-type: none;
        font-size: 1.5em;
    }

    .social-networks{
        display: flex;
        gap: 20px;
    }

/* contenuto colonne footer  */

.menu_footer span{
    color: white;
    font-size:1.2em;
    font-weight: 800;
    padding:5px;
}

.menu_footer > :first-child{
     color: rgb(142, 161, 226);
}

/* banner */

#banner{
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

#bottone_sx img{
    width: 100px;
}

#bottone_dx{
    font-size: 1em;
}

